:root{
	--color-text-generic: white;
	--color-text-important: red;
}

*{
	padding: 0em;
	margin: 0em;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body{
	background-image: url(./Cielo.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	/*Para evitar refresco cuando se desliza al final*/
	overscroll-behavior: contain;
}

#wrapper{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	/*border: solid 2px red;*/
	display: flex;
	flex-direction: column;
}

#container{
	margin: 1em;
	/*border:solid 1px black;*/
	height: calc(75vh - 7em);
}

#controls{
    margin: 0 1em 5em 1em;
    /* border: solid 1px black; */
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1em;
    height: 25vh;
}

#panel{
	margin-bottom: 500px;   	
	height: inherit;
	margin-right: 20px;
	/*border:solid 1px green;*/
	/*border-radius: 10px 10px 0 0;*/
	border-radius: 10px;
	overflow: hidden;
	background-color: rgba( 0, 0, 0, 0.2);
}


#menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	position: absolute;
}

#menu > a {
	display: block;
	text-decoration: none;
}

.fas.fa-chevron-left {
	color: white;
	background-color: rgba(61,61,61);
	padding: 0.4em;
	border-radius: 10px 0 10px 0;
	box-shadow: 2px 2px 4px 0px black;
	/*height: 35px;
	width: 35px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	/*font-size: 24px;*/
	/* font-weight: bold; */
}

.fas.fa-chevron-left:hover {
	background-color: rgba(0,0,0,0.8);
}

#panel-title{
	/*background-color: red;*/
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

#title-ubicacion{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	/*height: 2em;*/
	/*display: flex;*/
	/*align-items: center;*/
}

#title-sub{
	height: 1em;
}

#panel-container{
	/*height: 50%;*/
}

#panel-container-fuego{
	display: grid;
	grid-template-columns: 50% 50%;
	height: calc(50% - 4em);
	color: white;
}

#panel-container-temperatura{
	display: grid;
	grid-template-columns: 50% 50%;
	/*height: calc(50% - 5em);*/
	color: white;
}

#panel-container-viento{
	display: grid;
	grid-template-columns: 50% 50%;
	color: white;
}

#panel-container-presion{
	color: white;
}

#panel-container-humedad{
	color: white;
}

#panel-canvas{

	/*border:solid;*/
	height: 50%;
	display: flex;
	justify-content: center;
}

.panel-col{
	/*border: solid 1px red;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.col-items{
	width: 100%;
}

.panel-row{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.btn-control {
    width: -webkit-fill-available;
    border-radius: 8px;
    border: inset 2px #fdfdfd;
    overflow: hidden;
    /* background-color: rgb(61, 61, 61); */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
    outline: none;
    /* box-shadow: 4px 4px 4px 0px black;*/
}

.btn-control:hover, .btn-control:active, .btn-control:focus {
	background-color: rgba( 0, 0, 0, 0.4);
	border: solid 0px gray;
	box-shadow: 4px 4px 4px -3px black;
}


.btn-control-title{
	/*background-color: red;*/
	color: white;
	text-align: center;
	height: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;*/
}

.btn-control-container{
	display: grid;
	grid-template-columns: 50px auto;
	color: white;
	/*flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;*/
}

.control-title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	/*border: solid;*/
}


.control-date{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	/*border:solid;*/
}


.col-important{
	display: flex;
	justify-content: center;
}

.important-val-int{
	font-size: 80px;
	/*border: solid 1px blue;*/
}

.important-val-unit {
	font-size: 36px;
	/* border: solid; */
	/* height: 50%; */
}

.important-val-dec {
	/* border: solid; */
	font-size: 37px;
	/* height: 50%; */
}

#col-sub {
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: 12px;
}

.item-title{
	font-size: 12px;
	text-align: center;
}

.item-value{
	text-align: center;
}

.color-fuego{
	color: #ec512b;
}

.color-temperatura{
	color: #ffbf69;
}

.color-humedad{
	color: #00bbf9;
}

.color-viento{
	color: #e0fbfc;
}

.color-ubicacion{
	color: red;
}

.color-presion{
	color: #6ee55d;
}

.color-rojo{
	color: red;
}
.color-verde{
	color: green;
}

.visible{
	display: none !important;
}

#medidor{
	/*width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: red;*/
}

@media (min-width: 768px){

	#wrapper{
		flex-direction: column;
	}

	#container{
		order: 1;
		height: calc(100vh - 2em);
		margin: 1em 0 1em 1em;
	}

	#controls{
		height: calc(100vh - 12em);
		margin: 1em;
	}

}

@media (min-width: 576px){

	#wrapper{
		flex-direction: column;
	}

	#container{
		order: 1;
		height: calc(100vh - 2em);
/*		width: 50%;*/
		margin: 1em 0 1em 1em;
	}

	#controls{
		height: calc(100vh - 6em);

		margin: 1em;
	}

	.align-center{
		text-align: center;
	}

	.visible{
		display: inline-block !important;
	}


}

@media (min-width: 320px) and (max-width: 767px){

	#title-ubicacion {
		font-size: 20px;
	}

	.important-val-int {
		font-size: 60px;
		/* border: solid 1px blue; */
	}

	.important-val-unit,  .important-val-dec {
		font-size: 27px;
		/* border: solid 1px blue; */
	}

	.btn-control-container {
		display: grid;
		grid-template-columns: auto;
		color: white;
	}

	.control-title {
		font-size: 24px;
	}

	.control-date{
		font-size: 20px;
	}

}

